.btn {
  padding: 10px 20px;
  background-color: rgb(229, 229, 229, 0.7);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.btn:hover {
  background-color: rgb(229, 229, 229, 1);
  transition: background-color 0.3s ease;
}
